@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --paragraph: 'Karla', sans-serif;
    --headings: 'DM Serif Display', serif;
    --text: 1rem;

    --weight-hd: 400;
    --weight-lg: 700;
    --weight-sm: 400;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
main,
footer,
header {
    width: 100%;
    position: relative;
}

/* WIDTH */

nav,
.faq,
.about,
.footer-nav,
.footer-link {
    width: 80%;
    margin: 0 auto;
    z-index: 2;
}

/* ------------------ */


/* ASSETS */

.cta-primary,
.cta-neutral {
    padding: 10px 30px;
    border: 2px solid var(--dark-violet);
    color: var(--very-dark-violet);

    font-family: var(--paragraph);
    font-weight: var(--weight-sm);
    font-size: var(--text);

    transition: all .3s ease;
}

.cta-primary:hover {
    background-color: var(--very-dark-violet);
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
}

.cta-neutral {
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
}

.cta-neutral:hover {
    background-color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    color: var(--very-dark-violet);
}

.title {
    font-family: var(--headings);
    font-size: var(--weight-hd);
}

.text {
    font-size: var(--text);
    font-weight: var(--weight-sm);
    font-family: var(--paragraph);
    color: var(--dark-grayish-violet);
}


.light { color: var(--very-light-gray); }
.dark { color: var(--very-dark-violet); }


/* ------------------ */

/* NAV */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--very-light-gray);
}

header nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header nav ul {
    display: flex;
    gap: 1.5rem;
}

header nav ul li a {
    color: var(--grayish-blue);
    font-family: var(--paragraph);
}

header nav .burger { 
    display: none;
    position: relative;
}

header nav ul li a:hover  { color: var(--dark-violet); }

header nav ul li:last-child { margin-left: 1rem; }

/* HERO */

.hero { 
    position: relative;
    top: 10vh;
    width: 100%;
    max-height: 600px;
    height: 600px;
    padding-top: 6rem;

    background-color: var(--dark-violet);
    margin-bottom: 15rem;
}

.hero-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    gap: 0 3rem;
}

.hero-text {
    max-width: 50%;
    height: 100%;
    max-height: 600% ;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    gap: 1.5rem;
}

.hero-text h1 {
    font-size: 4rem;
    line-height: 4rem;
}

.hero hr { 
    border: 2px solid var(--very-light-gray);

    width: 150px;
    position: absolute;
    top: 0;
}

/* FAQ */

.faq {
    position: relative;
    top: 10vh;

    max-height: 100vh;
    height: auto;
    min-height: 650px;
    padding-block: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5rem;
}

.faq hr { 
    border: 2px solid var(--grayish-blue);
    width: 150px;
    position: absolute;
    top: 0;
}

.faq #faq-h2 { 
    font-size: 4rem;
    margin-top: 3rem;
    font-family: var(--headings);
}

.faq h2 {
    font-size: 1.5rem;
}

.article-box {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.article-box  article{
    display: grid;
    gap: 1.5rem;
}

/* ABOUT */

.about {
    position: relative;
    top: 10vh;
    background-color: var(--dark-violet);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem 5rem;
    margin-bottom: 15rem;
    overflow: hidden;
}

.about h3 {
    max-width: 50%;
    font-size: 3rem;
}

/* FOOTER */

footer {
    max-height: 600px;
    height: auto;
    background-color: var(--very-light-gray);
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2.5rem;
}

.footer-nav ul {
    display: flex;
    gap: 1rem;
}

footer hr {
    width: 80%;
    margin: 0 auto;
}

.footer-link {    
    padding-top: 3rem;
    padding-bottom: 1rem;
    height: inherit;
    display: grid;
    grid-auto-flow: column;
}

.footer-link > * {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.footer-title {    
    font-family: var(--paragraph);
    font-weight: var(--weight-sm);
    color: var(--dark-grayish-violet);
    margin-block: 1rem;
}

.company ul li,
.help ul li {
    margin-block: 1rem;
}

.company ul li a,
.help ul li a {
    color: var(--very-dark-violet);
    font-family: var(--paragraph);
    font-weight: var(--weight-sm);
    transition: all .4s ease;
}

.footer-nav ul li a:hover svg path { fill: var(--dark-violet); }

.img-sm { 
    position: relative;
    top: 10vh;
    display: none;
    width: 100%;
}

.img-lg { display: block; }

.img-sm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* QURIES */

/* 800px */

@media (max-width: 1050px) {
    header nav .burger { display: block; }
    header nav ul { display: none; }
    .hero { 
        padding: 0;
        margin-bottom: 5rem;
    }
    .hero-container {
        display: flex ;
        align-items: center;
    }
    .hero-text {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .hero-text hr { position: inherit; }
    .hero-text h1 { font-size: 3rem; }

    .hero-mockup {
        width: 50%;
        height: 50%;

        display: grid;
        place-items: center;
    }

    .hero-mockup img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about {
        justify-content: space-between;
        align-items: center;
    }
    .about h3 { font-size: 2rem; }
}

.img-sm-p { display: none;}

@media (max-width: 500px) {
    .img-sm-p,
    .img-sm { display: block; }
    .img-lg { display: none; }
    nav,
    .faq,
    .footer-nav,
    .footer-link {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    header nav ul,
    .hero-text hr { 
        display: none;
    }

    .hero { 
        padding: 0;
        top: 9vh;
    }
    .hero-container { 
        width: 100%;
        display: grid;
        place-items: center;
    }
    .hero-mockup { display: none; }
    .hero-text {
        padding: 0;
        max-width: 90%;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .hero-text p { line-height: 2rem; }
    .faq {
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 10rem;
        margin-bottom: 15em;
        gap: 1rem;
    }
    .faq #faq-h2 { 
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;
    }
    .faq hr { 
        position: relative;
        margin: 0 auto;
    }
    .article-box {
        display: flex;
        flex-direction: column;
    }

    .faq .article-box article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-inline: 1rem;
    }

    .about {
        width: 90%;
        flex-direction: column;
        padding: 3rem 2rem;
        text-align: center;
    }
    .about h3 { max-width: 80%; }


    footer { 
        height: auto;
        max-height: inherit;
    }

    .footer-nav {
        flex-direction: column;
        gap: 2rem 0;
    }

    footer hr {
        width: 90%;
    }
    .footer-link {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-link .help,
    .help .footer-title {
        text-align: center;
        margin: 1rem auto;
    }


    .pattern-1,
    .pattern-2,
    .pattern-3,
    .pattern-4 {
        display: none;
    }
}

/* PATTERNS */

.pattern-1,
.pattern-3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.pattern-2 {
    position: absolute;
    top: 60%;
    left: 0;
    z-index: 0;
}

.pattern-3 { z-index: -1; }

.pattern-4 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* MOBILE NAV */

.mobile-nav {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--very-dark-violet);
    display: none;
    justify-content: center;
    align-items: start;
}

.mobile-nav ul li {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.mobile-nav ul li .cta-neutral { padding: 10px 60px;}

.mobile-nav ul li a { color: var(--very-light-gray); }

.nav-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.block { display: block;  }
